 /* latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 100;
    src: local('Roboto Thin'), local('Roboto-Thin'), url('/Roboto/Roboto-Thin.ttf');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
 
 /* latin */
 @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: local('Roboto Light'), local('Roboto-Light'), url('/Roboto/Roboto-Light.ttf');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  
  /* latin */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'), url('/Roboto/Roboto-Regular.ttf');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  
  /* latin */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: local('Roboto Medium'), local('Roboto-Medium'), url('/Roboto/Roboto-Medium.ttf');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  
  /* latin */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: local('Roboto Bold'), local('Roboto-Bold'), url('/Roboto/Roboto-Bold.ttf');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

*{
  font-family: 'Source Sans Pro', sans-serif;
}

body {
  position: relative;
}

html {
  scroll-behavior: smooth;
}

/* ---------------------------- Nav Bar --------------------------------*/
#transparent {
    background-color: #fff;
    margin: 0px 40px 0 40px;
    position: fixed;
    width: 94.3%;
    top: 0;
    padding-top: 30px;
    padding-bottom: 30px;
    z-index: 1;
}

#custom-toggler {
    border: none;
}

.navbar-brand {
    font-weight: 700;
    letter-spacing: 2px;
}

#custom-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

#custom-nav-link {
    font-weight: 350;
    color: black;
    letter-spacing: 1.3px;
    margin-left: 10px;
    padding-right: 0;
}

#custom-nav-link:hover {
    color: #A5A5A5;
}

.active {
    color: #A5A5A5 !important;
}

/* ---------------------------- Typing Animation --------------------------------*/
.typing-container {
    background-color: #9CA5B7;
    height: 640px;
    margin: 30px 56px 0 56px;
    
}

.typing-text {
    position: relative;
    text-align: center;
    
}

.typing-text > span {
    text-transform: uppercase;
    font-weight: 100;
    font-size: 5vw;
    position: relative;
    top: 310px;
    display: inline-block;
    color: #fff;
}

/* ---------------------------- Home --------------------------------*/

.home-main-container {
  position: relative;
  margin: 0 auto 0 auto;
  width: 1200px;
  text-align: center;
  height: 100vh;
}

.home-left-container {
  position: relative;
  text-align: center;
  width: 520px;
  left: -65px;
  top: 252px;
}

.home-title, .home-description {
  color: #2E2E2E;
  font-family:'Source Sans Pro', sans-serif;

}

.home-title {
  font-style: normal;
  font-weight: bold;
  font-size: 74px;
  letter-spacing: 2px;
}

.home-description {
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  letter-spacing: 0.6px;
}

.home-divider {
  width: 430px;
  height: 3px;
  background-color: #2E2E2E;
  margin: 0 auto 30px auto;

}

.home-image-container {
  width: 451px;
  height: 278px;
  position: relative;
  top: 180px;
  left: 5px;
}

.home-image-container, .home-left-container {
  display: inline-block;
}

/* ---------------------------- About Me --------------------------------*/
.about-container {
  background-color: #86B0D6;
  margin: 0px 56px 0 56px;
  position: relative;
  top: 20px;
  padding: 48px;
  text-align: left;
}

.about-title, .about-description-top, .about-description-bottom {
  color: #FFFFFF;
  letter-spacing: 0.6px;
}

.about-title {
  font-style: normal;
  font-weight: 600;
  font-size: 42px;
}

.about-description-top, .about-description-bottom {
  line-height: 35px;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
}

.about-divider {
  height: 1px;
  background-color: #FFFFFF;
  margin: 40px auto 40px auto;
}

/* ---------------------------- Portfolio Grid --------------------------------*/

/* Creates 3x3 responsive grid */
.square-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 90px;
  }
  
.square {
  position: relative;
  flex-basis: calc(33.333% - 5.35vw);
  margin: 2vw;
  box-sizing: border-box;
}

.square::before {
  content: '';
  display: block;
  padding-top: 100%;
}

.square .content {
  position: absolute;
  top: 0; left: 0;
  height: 100%;
  width: 100%;
  
}

@media (min-width: 600px) {
  .square { grid-template-columns: repeat(2, 1fr); }
}

@media (min-width: 900px) {
  .square { grid-template-columns: repeat(3, 1fr); }
}

/* Overlay and project descriptions */
.square .content:hover {
  background-color: #000;
  opacity: 0.9;
  transition: 0.6s ease;
}

.square .content:hover img {
  opacity: 0.15;
  transition: 0.6s ease;
}

.caption {
  opacity: 0;
  transition: 0.6s ease;
}

.square .content:hover .caption{
  opacity: 1;
}

.caption-content  {
  color: white;
  font-size: 1.5vw;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

img {
  width: 100%;
  height: 100%;

}
  
/* ---------------------------- Portfolio Items --------------------------------*/
.portfolio-item {
  width: 91.5%;
  height: 200px;
  position: relative;
    background-color: #f2f2f2;
  margin: 100px auto;
  text-align: center;
}

.portfolio-item > h1 {
  font-size: 40px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  padding-top: 55px;

}
.portfolio-item > h2 {
  font-size: 15px;
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  margin-top: 15px;
}

.pictures {
  width: 30%;
  margin-left:4.25%;
  margin-top: -50px;
  display: inline-block;
  float: left;

}

.square-picture {
  position: relative;
  width: 100%;
  margin-bottom: 50px;
}

.square-picture:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.project-image {
  position: absolute;
}

.project-description {
  position: absolute;
  width: 56.75%;
  margin-left: 5%;
  margin-top: -53px;
  display: inline-block;
  float: right;


  overflow: auto;
}

.project-description:after {
  content: "";
  display: block;
  padding-bottom: 100%;

}

.project-content {
  position: absolute;
}

.project-content > p {
  font-weight: 400;
  font-size: 16px;
  font-weight: 100;
  letter-spacing: 0.1rem;

}

.project-content > h2 {
  font-size: 20px;
  font-weight: 550;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

/* ---------------------------- Contact --------------------------------*/
.contact-main-container {
  background-color: #F2F2F2;
  margin: 30px 56px 100px 56px;
  position: relative;
  top: 20px;
  padding: 48px;
  text-align: left;
  display: inline-block !important
}

.contact-title {
  font-style: normal;
  font-weight: 600;
  font-size: 42px;
}

.contact-description-left {
  font-size: 18px;
  position: relative;
  line-height: 35px;
  vertical-align: top;
  width: 60%;
}

.contact-title, .contact-description-left, .contact-resume, .contact-linkedin {
  letter-spacing: 0.4px;
}

.contact-divider {
  height: 2px;
  background-color: #000000;
  margin: 40px 0px;
  transform: rotate(90deg);
  width: 190px;
  position: relative;
}

.contact-description-left,  .contact-divider, .contact-container-right {
  display: inline-block !important;
}

.contact-container-right {
  /* float: right; */
  width: 20%;
}


.contact-resume, .contact-linkedin {
  font-size: 18px;
  border: 1px solid black;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  width: 200px;
  vertical-align: top;
  position: relative;
  left: 15px;
}

.contact-resume {
  margin-bottom: 35px;
  vertical-align: top;
  position: relative;
  top: 10px;
}

.contact-resume:hover, .contact-linkedin:hover {
  border: 1px solid #FFF8F8;
  cursor: pointer;
  color: #FFFFFF;
  background-color: #AEAEAE;
  transition: 0.3s ease;
}

.contact-link {
  color: inherit !important;
  text-decoration: none !important;
}

/* ---------------------------------- Footer ------------------------------------*/
footer {
  background-color: #86B0D6;
  text-align: center;
  clear: both;
  position: absolute;
  left: 0;
  width: 100%;
}

.footer-text {
  font-size: 15px;
  color: #fff;
  font-weight: 550;
  letter-spacing: 2px;
  position: relative;
  top: 25px;
  text-transform: uppercase;
}

.social-icon {
  padding: 0;
  margin-top: 20px;
}

.social-icon li {
  list-style: none;
  display: inline-block;
}

.social-icon li a {
  border-radius: 100px;
  border: 1px solid transparent;
  color: #f2f2f2;
  font-size: 22px;
  width: 50px;
  height: 50px;
  line-height: 48px;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  transition: all 0.4s ease-in-out;
  padding: 0px;
  margin-top: 14px;
  margin-right: 8px;
  margin-left: 8px;
  position: relative;
  top: 0px;
}

.social-icon li a:hover {
  background: #ffffff;
  color: #86B0D6;
}

/* ---------------------------- Individual Projects --------------------------------*/
.individual-project-header {
  background-color: #86B0D6;
  margin: 56px 56px 0 56px;
  position: relative;
  top: 40px;
  padding: 26px;
  text-align: center;
}

.individual-project-title {
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
}

.individual-project-subtitle {
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
}

.individual-project-title, .individual-project-subtitle {
  margin-bottom: 6px !important;
  color: #FFFFFF;
  letter-spacing: 0.6px;
}

.individual-project-description {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.6px;
  text-align: left;

}

.individual-project-container {
  margin: 80px 300px 100px 300px;
  position: relative;
}

.individual-project-image {
  width: 100%;
  margin-top: 48px;
}

/* ---------------------------- Image Border Hover Effect --------------------------------*/
/* ------------------- Source: https://codepen.io/quatmo/pen/xKIze -----------------------*/

figure.effect-bubba figcaption::before,
figure.effect-bubba figcaption::after {
	position: absolute;
	top: 30px;
	right: 30px;
	bottom: 30px;
	left: 30px;
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
}

figure.effect-bubba figcaption::before {
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	-webkit-transform: scale(0,1);
	transform: scale(0,1);
}

figure.effect-bubba figcaption::after {
	border-right: 1px solid #fff;
	border-left: 1px solid #fff;
	-webkit-transform: scale(1,0);
	transform: scale(1,0);
}

figure.effect-bubba h2 {
	padding-top: 30%;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,-20px,0);
	transform: translate3d(0,-20px,0);
}

figure.effect-bubba p {
	padding: 20px 2.5em;
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(0,20px,0);
	transform: translate3d(0,20px,0);
}

figure.effect-bubba:hover figcaption::before,
figure.effect-bubba:hover figcaption::after {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}

figure.effect-bubba:hover h2,
figure.effect-bubba:hover p {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

  /* ---------------------------- Slide In Animation --------------------------------*/
  /* ------------- Wow.js animations didn't work: used https://animate.style/ ------------------*/

.wow {
  visibility: hidden;
}

.animate__animated.animate__slideInUp {
  --animate-duration: 0.9s;
}

.animate__delay-1s {
  --animate-delay: 0.3s;
}

.animate__delay-2s {
  --animate-delay: 0.4s;
}